In [1]:
# webscraping a table using pandas
import pandas as pd

In [2]:
url='https://en.wikipedia.org/wiki/List_of_cities_in_India_by_population'

In [4]:
tables=pd.read_html(url)

In [6]:
table=tables[0]
df=pd.DataFrame(table)

In [7]:
df.head()

,City,Population (2011)[3],Population (2001)[3][a],State or union territory,Ref
0,Mumbai,12442373,11978450,Maharashtra,[3]
1,Delhi,11034555,9879172,Delhi,[3]
2,Bangalore,8443675,5682293,Karnataka,[3]
3,Hyderabad,6993262,5496960,Telangana,[3]
4,Ahmedabad,5577940,4470006,Gujarat,[3]

In [8]:
#webscraping a news article
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\administrator\anaconda3\lib\site-packages (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\administrator\anaconda3\lib\site-packages (from beautifulsoup4) (2.4)

In [9]:
import requests

In [10]:
from bs4 import BeautifulSoup

In [11]:
url='https://www.thehindu.com/news/national/hit-by-poll-debacle-ajit-pawar-holds-emergency-meetings/article68259912.ece'

In [14]:
response=requests.get(url)

In [15]:
soup=BeautifulSoup(response.content,'html.parser')

In [21]:
paragraph = soup.select_one('#content-body-68259912 > p:nth-child(1)').text

In [23]:
paragraph

'Amid the crisis engulfing the ruling Mahayuti coalition in Maharashtra following its rout in the Lok Sabha election, Deputy Chief Minister Ajit Pawar on June 6 summoned emergency meetings of his Nationalist Congress Party (NCP) faction leaders, even as Deputy Chief Minister Devendra Fadnavis, who has offered to step down from his post, reached Delhi to meet the BJP top brass.'

In [25]:
paragraph2=soup.select_one('#content-body-68259912 > p:nth-child(2)').text

In [29]:
paragraph2

'A flurry of meetings were held by Mr. Ajit Pawar, who summoned his NCP faction’s core committee to take stock of the party’s disastrous electoral performance, at his residence ‘Devagiri’ in Mumbai. '